<div id="cookie-consent-banner" class="position-fixed bottom-0 start-0 end-0 p-3 bg-dark text-white" style="z-index: 1080; display: none;">
    <div class="container px-3 d-flex flex-column flex-md-row gap-3 align-items-md-center justify-content-between">
        <div class="small">
            We use essential cookies to run this website and optional analytics cookies only with your consent.
            Read our
            <a class="link-light" href="<%= info_page_path('privacy-policy') %>">Privacy Policy</a>
            and
            <a class="link-light" href="/data-subject-rights">Data Subject Rights</a>.
        </div>
        <div class="d-flex gap-2">
            <button id="cookie-reject" class="btn btn-outline-light btn-sm" type="button">Reject optional</button>
            <button id="cookie-accept" class="btn btn-primary btn-sm" type="button">Accept all</button>
        </div>
    </div>
</div>