<%= render "partials/header" %>

<section class="py-5">
    <div class="container px-5" style="max-width: 900px;">
        <h1 class="fw-bolder mb-4">Edit Info Page</h1>
        <%= render "form", info_page: @info_page %>
        <%= link_to "Back", admin_info_pages_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>