<%= render "partials/header" %>
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <%= image_tag "gallery/small/llw-cssmall50.png", class: "img-fluid rounded-circle", alt: "..." %>
                    <div class="ms-3">
                        <div class="fw-bold">Adewale Adesina</div>
                        <div class="text-muted">Tech, Business</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">ICCOBAUK/EUROPE ANNUAL CONVENTION 2025!</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">July 1, 2025</div>
                        <!-- Post categories-->
                        <span class="badge bg-secondary text-decoration-none link-light">Web Design</span>
                        <span class="badge bg-secondary text-decoration-none link-light">Business</span>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <%= image_tag "gallery/2025convention/cc20251.jpg", class: "img-fluid rounded" %>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Welcome to the ICCOBAUK/EUROPE ANNUAL CONVENTION 2025! This highly anticipated event is happening soon at the DoubleTree by Hilton Coventry, promising an unforgettable in-person experience for all attendees.</p>

                        <p class="fs-5 mb-4">Prepare yourself for a weekend packed with exciting networking opportunities, engaging workshops, and fun-filled activities designed to bring our alumni community closer together. This is more than a convention—it’s a celebration of our shared history and future aspirations on a huge scale.</p>

                        <p class="fs-5 mb-4">Join classmates, old friends, and community members for an inspiring gathering that celebrates our collective achievements and the strong bonds that unite us. This is an event you simply cannot miss. Become part of a vibrant, active community and create memories that will last a lifetime. Accommodation options are available at the hotel, and you can book using the code <strong>AFEST</strong>. Make sure to secure your spot soon—spaces are filling up fast!</p>

                        <h2 class="fw-bolder mb-4 mt-5">Delegate Fee:</h2>
                        <p class="fs-5 mb-4">Single £125 &nbsp; | &nbsp; Double £160</p>

                        <p class="fw-bolder fs-5 mb-2">Payments/Donations can be made to the Association's account:</p>
                        <p class="fs-5 mb-2">Account Name: ICCOBA UK & EUROPE</p>
                        <p class="fs-5 mb-2">Account Number: 20349368</p>
                        <p class="fs-5 mb-2">Sort Code: 20-65</p>

                        <p class="fs-5 mb-4">Don’t miss this incredible opportunity to reconnect, celebrate, and contribute to the continued growth of ICCOBAUK. We look forward to seeing you at the 2025 Convention!</p>
                    </section>

                </article>
                <!-- Comments section-->
                <%
=begin%>
                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                            <!-- Comment with nested comments-->
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                    <!-- Child comment 1-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                        </div>
                                    </div>
                                    <!-- Child comment 2-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            When you put money directly to a problem, it makes a good headline.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <%
=end%>
            </div>
        </div>
    </div>
</section>
<%= render "partials/footer" %>